[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
behave = "*"
coverage = "*"
pytest = "*"

[packages]
html5lib = "*"
cssselect2 = "*"
requests = "*"
typeguard = "*"

[requires]
python_version = "3.8"
